# Monorepo
/frontend/node_modules/
frontend/.next/
frontend/.turbo/
frontend/out/
frontend/.env*.local

/backend/node_modules/
backend/dist/
backend/prisma/migrations/
backend/.env

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db
