# Datenbank
DATABASE_URL="postgresql://user:password@localhost:5432/witzeapp"

# JWT
JWT_SECRET="dein-super-geheimer-jwt-secret-mindestens-32-zeichen"
JWT_REFRESH_SECRET="dein-super-geheimer-refresh-secret-mindestens-32-zeichen"

# Server
PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:3001
APP_URL=http://localhost:3000

# Mail (Resend)
RESEND_API_KEY="re_xxxxxxxxxxxxxxxxxxxx"
MAIL_FROM="noreply@witzeapp.de"
